@use "@angular/material" as mat;
@use "../../../nitheme.scss" as nitheme;

table {
  width: 100%;
}
h1{
  position: sticky !important;
  margin-left: 30px !important;
  margin-top: 30px !important;
}
.publisher-object {

  background-color: rgb(226 229 229 / 60%);
  position: relative;
  margin: auto;
  width: 90%;
  height: 80%;
  overflow: auto;
}
.publisher-filter {
  font-size: 14px;
  width: 98.5%;

}
.publisher-table {
  background: mat.get-color-from-palette(nitheme.$nitheme-accent, 100);
  position: relative;
  width: 97%;
  margin: auto;
}
.publisher-managment {
  position: sticky;
  text-align: end;
  margin: 1.5%;
  button{
    margin: 0.5%;
  }
}
.quick-fast-add-publisher{
  position: absolute;
  top: -20%;
  left: 0%;
  z-index: 101;
  height: 98vh;
  width:100vw;
  background-color: rgba(165, 165, 165, 80%);
}
.quick-fast-add-publisher-form{
  position: relative;
  top: 20vh;
  height: 30vh;
  width:50vw;
  margin: auto;
}
