<div class="publisher-object mat-elevation-z8">
  <h1 class="mat-display-1">Liste des proclamateurs</h1>
  <mat-form-field class="publisher-filter" color="primary" appearance="standard">
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Rototo" #input>
  </mat-form-field>

  <div class="publisher-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">Nom</th>
        <td mat-cell *matCellDef="let publishers"> {{publishers.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">Prénom</th>
        <td mat-cell *matCellDef="let publishers"> {{publishers.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">Genre</th>
        <td mat-cell *matCellDef="let publishers"> {{publishers.gender}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let publisher; columns: displayedColumns;" (click)="onRowClick(publisher.id)">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Pas de proclamateur correspondant au filtre : "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <div class="publisher-managment mat-elevation -z12">
    <button mat-raised-button (click)="onClickAddPublisher()" color="primary">Ajout proclamateur</button>
    <button mat-raised-button (click)="onClickQuickAddPublisher()" color="accent">Ajout express</button>
  </div>
</div>
<div class="quick-fast-add-publisher mat-elevation-z12" *ngIf="addNewPublisher">
  <mat-card class="quick-fast-add-publisher-form mat-elevation-z20">
      <mat-card-header>
          <mat-card-title  class="mat-display-2">Ajout express proclamateur.ice</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="publisherFormGroup" (ngSubmit)="onSubmit()">
          <h1 >Informations personnelles</h1>
          <hr>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nom de Famille</mat-label>
              <input matInput placeholder="Nom de Famille" formControlName="lastNameCtrl" required>
              <mat-hint>Champ obligatoire</mat-hint>
              <mat-error *ngIf="publisherFormGroup.get('lastNameCtrl')?.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="" formControlName="firstNameCtrl" required>
              <mat-hint>Champ obligatoire</mat-hint>
              <mat-error *ngIf="publisherFormGroup.get('firstNameCtrl')?.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-radio-group formControlName="genderCtrl" aria-label="Gender">
              <mat-radio-button value="Proclamateur">Proclamateur</mat-radio-button>
              <mat-radio-button value="Proclamatrice ">Proclamatrice</mat-radio-button>
              <mat-error *ngIf="publisherFormGroup.get('genderCtrl')?.invalid">{{getErrorMessage()}}</mat-error>
            </mat-radio-group>
            <button mat-raised-button color="accent" type="submit">Sauvegarder</button>
          </form>
          </mat-card-content>
        </mat-card>
</div>
