/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;



html,
body {
  height: 100%;
  background : {
    image: url(./assets/pictures/paysageTaichung.jpg);
    size: cover;
    repeat: no-repeat;
  }
  object-fit: cover;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // overflow: hidden; //PERMET D'ENLEVER LE SCROLLAGE ET L'ASSENCEUR MOCHE.... IL PEUT AUSSI ETRE CUSTOMISé
}

