<div class="publisher-form">
  <mat-card>
    <mat-card-title class="mat-display-2"> Ajouter nouveau proclamateur.trice</mat-card-title>
    <mat-card-subtitle >Ton peuple s’offrira volontairement au jour de tes forces militaires. Dans une splendide sainteté,
      ta troupe de jeunes gens vient de la matrice de l’aurore comme des gouttes de rosée.(Psaume 110:3)</mat-card-subtitle>
      <mat-card-content>
    <form [formGroup]="publisherFormGroup" (ngSubmit)="onSubmit()">
      <h1 >Informations personnelles</h1>
      <hr>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nom de Famille</mat-label>
          <input matInput placeholder="Nom de Famille" formControlName="lastNameCtrl" required>
          <mat-hint>Champ obligatoire</mat-hint>
          <mat-error *ngIf="publisherFormGroup.get('lastNameCtrl')?.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="" formControlName="firstNameCtrl" required>
          <mat-hint>Champ obligatoire</mat-hint>
          <mat-error *ngIf="publisherFormGroup.get('firstNameCtrl')?.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-radio-group formControlName="genderCtrl" aria-label="Gender">
          <mat-radio-button value="Proclamateur">Proclamateur</mat-radio-button>
          <mat-radio-button value="Proclamatrice ">Proclamatrice</mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Date de naissance</mat-label>
          <input formControlName="birthdateCtrl" matInput [matDatepicker]="birthdate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
          <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date de baptême</mat-label>
          <input formControlName="baptismDateCtrl" matInput [matDatepicker]="baptismDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="baptismDate"></mat-datepicker-toggle>
          <mat-datepicker #baptismDate></mat-datepicker>
        </mat-form-field>
        <mat-radio-group formControlName="hopeCtrl" aria-label="Hope">
          <mat-radio-button value="1">Autre brebis</mat-radio-button>
          <mat-radio-button value="2">Oint</mat-radio-button>
        </mat-radio-group>
      </p>
      <h1>Adresse</h1>
      <hr>
      <div formGroupName="adressCtrlGroup">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Pays</mat-label>
            <input formControlName="countryCtrl" matInput placeholder="Taiwan ou Suisse">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Canton ou Comté</mat-label>
            <input formControlName="countyCtrl" matInput placeholder="Ex. Vaud">
          </mat-form-field>
        </p>
        <mat-form-field appearance="outline">
          <mat-label>Ville</mat-label>
          <input formControlName="cityCtrl" #city matInput placeholder="Ex. Paris">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quartier</mat-label>
          <input formControlName="districtCtrl" #district matInput placeholder="Ex. 南區">
          <mat-hint>Nécessaire que pour Taiwan</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Code postal</mat-label>
          <input formControlName="zipCodeCtrl" #zipCode matInput type="number">
        </mat-form-field>
        <p>
          <mat-form-field classe="adress" appearance="outline">
            <mat-label>Adresse ligne 1</mat-label>
            <input formControlName="adressFirstLineCtrl" #adressLine1 matInput
            placeholder="nom de rue, numero du batiment, autres infos">
          </mat-form-field>
          <mat-form-field classe="adress" appearance="outline">
            <mat-label>Adresse ligne 2</mat-label>
            <input formControlName="adressSecondLineCtrl" #adressLine2 matInput>
          </mat-form-field>
        </div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Numéro de téléphone</mat-label>
            <input formControlName="phoneNumberCtrl" matInput>

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Personne de confiance</mat-label>
            <input formControlName="emergencyContactCtrl" matInput placeholder="indiquer nom, prénom et n° de téléphone">
            <mat-hint>Personne à contacter en cas d'urgence</mat-hint>
          </mat-form-field>
        </p>
        <h1>Privilèges de service</h1>
        <hr>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Privilèges communs aux frères et soeurs</mat-label>
            <mat-chip-list #commmonPrivilegesChiplist aria-label="common privilege selection">
              <mat-chip *ngFor="let commmonPrivilege of commonPrivileges"
              (removed)="removePrivilege(commmonPrivilege, commonPrivileges)">
              {{commmonPrivilege}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Rajouter un privilège..." #commmonPrivilegeInput [formControl]="commonPrivilegeCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="commmonPrivilegesChiplist"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCommonPrivilege($event)">
            <mat-option *ngFor="let commmonPrivilege of filteredcommonPrivilege | async" [value]="commmonPrivilege">
              {{commmonPrivilege}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button *ngIf="isElder===false && isMinistryAssisstant===false" mat-stroked-button color="primary" type="button"
        #elderBtn (click)="onElderBtnClick()">
        Ancien</button>
        <button *ngIf="isElder===true && isMinistryAssisstant===false" mat-raised-button color="primary" type="button"
        #elderBtn (click)="onElderBtnClick()">
        Ancien</button>
        <button *ngIf="isMinistryAssisstant===true" mat-stroked-button disabled type="button" #elderBtn
          (click)="onElderBtnClick()">
          Ancien</button>
          <button *ngIf="isElder===false && isMinistryAssisstant===false" mat-stroked-button color="accent" type="button"
          #minitryAssistantBtn (click)="onMinistryAssistantBtnClick()">Assistant ministeriel</button>
          <button *ngIf="isElder===false && isMinistryAssisstant===true" mat-raised-button color="accent" type="button"
          #minitryAssistantBtn (click)="onMinistryAssistantBtnClick()">Assistant ministeriel</button>
          <button *ngIf="isElder===true " mat-stroked-button disabled type="button" #minitryAssistantBtn
          (click)="onMinistryAssistantBtnClick()">Assistant ministeriel</button>
          <mat-form-field appearance="outline">
            <mat-label>Privilèges réservés aux frères</mat-label>
            <mat-chip-list #BrothersPrivilegesChiplist aria-label="brothers privilege selection">
              <mat-chip *ngFor="let brothersPrivilege of brothersPrivileges"
              (removed)="removePrivilege(brothersPrivilege, brothersPrivileges )">
              {{brothersPrivilege}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Rajouter un privilège..." #brothersPrivilegeInput [formControl]="brothersPrivilegeCtrl"
            [matAutocomplete]="broAuto" [matChipInputFor]="BrothersPrivilegesChiplist"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #broAuto="matAutocomplete" (optionSelected)="selectedBrothersPrivilege($event)">
            <mat-option *ngFor="let brothersPrivilege of filteredBrothersPrivilege | async" [value]="brothersPrivilege">
              {{brothersPrivilege}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <button mat-raised-button color="accent" type="submit">Sauvegarder</button>
    </form>
  </mat-card-content>
</mat-card>
</div>

