@use "@angular/material" as mat;
@use "../nitheme" as nitheme;

.root-router{
  position: absolute;
  top: 6vw;
  width: 100%;
}
.header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
.footer{
  position: fixed;
  margin: 0px ;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
