mat-card {
  width : 75%;
  height: fit-content;
margin-left: 12%;
}

mat-form-field {
  margin-left: 24px;
  min-width: 150px;
  max-width: 500px;
  width: 70%;

}
mat-radio-group, mat-radio-button{
  margin-left: 24px;
}

.adress{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  ;
}
.elderBtn {
  margin-left: 24px;
}
.minitryAssistantBtn{
  margin-left: 24px;
  color: black;
}

