<mat-card class="publisherCard mat-typography">
  <mat-card-header class="cardHeader">
    <mat-card-title class="cardTitle">
      <mat-icon svgIcon="female"></mat-icon>  Dutoit Carengueude <span>(née le 14
        septembre 1992)  <mat-icon svgIcon="sheep"></mat-icon></span>
    </mat-card-title>
    <mat-card-subtitle class="cardSubtitle">bapteme le 7 juillet 2015</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <div>
      <h2 >Ancien ou am (attributions)</h2>
      <h3 >Adresse</h3>
      <p class="mat-body">adresse ville </p>
      <p class="mat-body">adress ligne 2</p>
      <p class="mat-body">no de tel</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="cardActions">
    <button mat-raised-button color="accent">Modifier</button>

    <button mat-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-card-actions>

  <mat-card-footer class="cardFooter">
    contact d'urgence : Mamie Lou 024.556.694.15
  </mat-card-footer>
</mat-card>
