<button mat-raised-button (click)="onClick()" color= primary>coucou</button>

<mat-card>
    <mat-card-header>
        <mat-card-title>Dutoit Carengueude</mat-card-title>
        <mat-card-subtitle>bapteme le 7 juillet 2015</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="Card wide image source">
    <mat-card-content>
        Adresse : France, Paris, rue du Molard 47, app 16-b
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button>Action1</button>

    </mat-card-actions>
    <mat-card-footer>
        contact d'urgence : Mamie Lou 024.556.694.15
    </mat-card-footer>
</mat-card>

