<div class="homepagecontainer">

  <h1 class="title  mat-elevation-z12 ">Guiboard</h1>

  <mat-card class="homepage-card mat-elevation-z12">
    <mat-card-header class="card-header mat-elevation-z2">
      <mat-card-title>Annuaire</mat-card-title>
      <mat-card-subtitle>des proclamateurs</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content class="card-content">
        infos interessante, chiffres totaux trucs funs
      </mat-card-content>
      <mat-card-actions class="card-action"align="start">
        <button mat-stroked-button color="accent">Action1</button>
      </mat-card-actions>

  </mat-card>

  <mat-card
  class="homepage-card mat-elevation-z12"
  routerLink="/">
    <mat-card-header class="card-header mat-elevation-z2">
      <mat-card-title>Gestion des rapports</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      Text content
    </mat-card-content>
    <mat-card-actions class="card-action" align="start">
      <button mat-stroked-button color="accent">Action1</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="homepage-card mat-elevation-z12">
    <mat-card-header class="card-header mat-elevation-z2">
      <mat-card-title>Gestion des tâches</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      Text content
    </mat-card-content>
    <mat-card-actions class="card-action" align="start">
      <button mat-stroked-button color="accent">Action1</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="homepage-card mat-elevation-z12 ">
    <mat-card-header class="card-header mat-elevation-z2">
      <mat-card-title>Groupes de predication</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      Text content
    </mat-card-content>
    <mat-card-actions class="card-action" align="start">
      <button mat-stroked-button color="accent">Action1</button>
    </mat-card-actions>
  </mat-card>

</div>
